.maining {
    margin-top: 16px;
    .img_wrapper {
        position: relative;
        border: 1px solid #E6ECEE;
        border-radius: 5px;
        .demo {
            display: none;
            position: absolute;
            bottom: 0;
            padding: 10px 20px;
            background-color: #A378FF;
            color: white;
            width: 100%;
            transition: all 0.9s ease-out;

        }
        &:hover .demo{
            display: block;
        }
    }
    .content {
        width: 456px;
        height: 75px;
        .title {
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 15px;
            line-height: 18px;
            margin-top: 12px;
            margin-bottom: 8px;
            img {
                margin-right: 3px;
            }
        }
        .price {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 13px;
            line-height: 15px;
            // color: #f5f0ff;
            img {
                margin-right: 3px;
                color: #f9faff;
            }
        }
    }
}

.four {
    width: 24%;
    height: 477px;
    animation: slideDowne 3s ease-out;
    .img_wrapper {
        width: 100%;
        height: 392px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

.binary {
    width: 49%;
    height: 677px;
    animation: slideDown 3s ease-out;
    .img_wrapper {
        width: 100%;
        height: 82%;
        overflow: hidden;
        img {
            width: 100%;
            transform: translateY(0);
            transition: transform 7s ease-in;
            &:hover {
                transform: translateY(-76%);
                cursor: pointer;
            }
        }
    }
}

@keyframes slideDown {
    from { top: 300px; opacity: 0; }
    to { top: 0px; opacity: 1; }
}

@keyframes slideDowne {
    from { top: 300px; opacity: 0; }
    to { top: 0px; opacity: 1; }
}