.maining {
    margin-top: 16px;
    .img_wrapper {
        position: relative;
        border: 1px solid #E6ECEE;
        border-radius: 5px;
        .demo {
            display: none;
            position: absolute;
            bottom: 0;
            padding: 10px 20px;
            background-color: #A378FF;
            color: white;
            width: 100%;
            transition: all 0.5s ease;
        }
        &:hover .demo{
            display: block;
        }
    }
    .content {
        width: 256px;
        height: 75px;
        h3 {
            width: 163px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 115px;
            line-height: 18;
            margin-top: 12px;
            margin-bottom: 8px;
            ::after {
                content: '';
                background-image: url('../../../public/icons/external-link.png');
                width: 16px;
                height: 16px;
                margin-right: 3px;
            }
        }
        a {
            width: 117px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 13px;
            line-height: 15px;
            color: #A378FF;
            ::after {
                content: '';
                background-image: url('../../../public/icons/tag.png');
                width: 16px;
                height: 16px;
                margin-right: 3px;
            }
        }
    }
}

.four {
    width: 308px;
    height: 477px;
    .img_wrapper {
        width: 308px;
        height: 392px;
        overflow: hidden;
    }
}

.binary {
    width: 632px;
    height: 477px;
    .img_wrapper {
        width: 632px;
        height: 392px;
        overflow: hidden;
        img {
            width: 100%;
            transform: translateY(0);
            transition: transform 2s;
            &:hover {
                transform: translateY(-52%);
                cursor: pointer;
            }
        }
    }
}