@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

button {
    background-color: inherit;
}

body {
    /* font-family: 'SF Pro Display', serif !important; */
    background-color: #f7fbfc;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../../public/fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
}